@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
:root {
  --secondary-color: #ff9a00;
}

body {
  font-family: "Lato", sans-serif;
}

html {
  overflow-y: hidden;
}

.loading::before {
  content: "";
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(135deg, #652d90, #b300b3);
  z-index: 31;
}

.loading::after {
  content: "Loading...";
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 4em;
  color: white;
  z-index: 32;
}

.title.title {
  margin: 0;
  font-weight: normal;
}

.navbar {
  background: transparent;
}
.navbar a {
  color: #fff;
}

section:not(.hero) {
  padding-top: 2em;
  padding-bottom: 2em;
}

.hero {
  background-image: url(../img/firewatch.jpg);
  background-size: cover;
  width: 100%;
  margin-top: -52px;
  position: relative;
}
.hero::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.hero .container {
  display: grid;
  justify-items: center;
  grid-gap: 1rem;
  padding: 0 5%;
  margin-top: 10rem;
}
.hero .container .title {
  color: #fff;
  margin-bottom: 0;
}
.hero .container p {
  color: #fff;
  font-size: 1.3rem;
}
.hero .container button {
  font-size: 1.1rem;
}

.services {
  background: linear-gradient(135deg, #652d90, #b300b3);
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1.2rem;
  color: #fff;
}
.services .container > .title {
  grid-column: 1/-1;
  color: #fff;
}
.services .container .title {
  margin: 0;
  color: #fff;
}
.services .container > div {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.services .container > div .title {
  margin: 0;
}
.services .container > div .svg-inline--fa.fa-w-18 {
  height: 55px;
  width: 55px;
  padding: 7px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  margin-top: 4.5px;
}
.services .container > div p {
  font-size: 0.9rem;
}

.upcoming-tours {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.upcoming-tours > .title {
  grid-column: 1/-1;
  margin: 0;
}
.upcoming-tours > div {
  background-color: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
.upcoming-tours > div > img {
  grid-column: 1/-1;
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.upcoming-tours > div > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0em 0.5em 0.5em 0.5em;
  grid-gap: 0.5em;
}
.upcoming-tours > div > div .title {
  grid-column: 1/-1;
  font-weight: 500;
  font-size: 1.2em;
}
.upcoming-tours > div > div span,
.upcoming-tours > div > div a {
  display: flex;
  align-items: center;
  font-size: 0.87em;
}
.upcoming-tours > div > div span svg,
.upcoming-tours > div > div a svg {
  margin-right: 0.3em;
  color: #4a4a4a;
}

.custom-tour {
  background-color: #f5f5f5;
  padding: 2em 1em;
}
.custom-tour form {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 2em;
  padding: 1em;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  margin-top: 1em;
  border-radius: 4px;
}

.testimonials {
  background-color: #652d90;
}
.testimonials .container > .title {
  color: white;
}
.testimonials .container .siema {
  font-size: 0.9rem;
}
.testimonials .container .siema > div > div {
  padding: 2em;
  color: rgba(255, 255, 255, 0.8);
}
.testimonials .container .siema > div > div:nth-child(odd) {
  background-color: rgba(179, 0, 179, 0.7);
}
.testimonials .container .siema > div > div:nth-child(even) {
  background-color: #b300b3;
}
.testimonials .container .siema > div > div span:last-child {
  display: block;
  font-weight: 600;
}
.testimonials .container .siema > div > div span:last-child::before {
  content: "-";
  margin-right: 3px;
}

/*# sourceMappingURL=style.css.map */
